{
  "endOfLine": "auto",
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "tailwindStylesheet": "./index.css",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./index.css",
  "tailwindPreserveWhitespace": false,
  "tailwindPreserveDuplicates": false
}
