@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin './hero.ts';

@source './node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:where(.dark, .dark *));

.light {
  --color-background: #eeedf4;
  --color-base: black;
  --color-steel: #757575;
  --color-charcoal: #e1dfdf;
  --color-dusk: #f3f0f0;
}

.dark {
  --color-background: #18171e;
  --color-base: white;
  --color-steel: white;
  --color-charcoal: #23262f;
  --color-dusk: #35383f;
}

@theme {
  /* Colors  */
  --color-background: var(--color-background);
  --color-base: var(--color-base);
  --color-pearl: var(--color-pearl);
  --color-steel: var(--color-steel);
  --color-charcoal: var(--color-charcoal);
  --color-dusk: var(--color-dusk);

  /* Fonts */
  --font-*: initial;
  --font-urbanist: 'Urbanist', sans-serif;

  /* Fontsize */
  --text-h1: 48px;
  --text-h2: 40px;
  --text-h3: 32px;
  --text-h4: 24px;
  --text-h5: 20px;
  --text-h6: 18px;
  --text-large: 16px;
  --text-body: 14px;
  --text-caption: 12px;
  --text-overline: 10px;

  /* Radius */
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-sm-plus: 6px;
  --radius-s: 8px;
  --radius-md: 12px;
  --radius-md-plus: 16px;
  --radius-lg: 20px;
  --radius-lg-plus: 24px;
  --radius-xl: 32px;
  --radius-xxl: 40px;

  /* Shadows */
  --shadow-x1: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --shadow-x2:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  --shadow-x3: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  --shadow-x4:
    rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  --shadow-x5: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  --shadow-x6: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

  /* Spacing */
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-sm: 12px;
  --spacing-m: 16px;
  --spacing-ml: 20px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px;
  --spacing-3xl: 48px;
  --spacing-4xl: 54px;
  --spacing-5xl: 62px;
  --spacing-6xl: 70px;

  /* Responsive breakpoints */
  --breakpoint-xs: 250px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1536px;
}

/* Custom classes should be defined like this*/
@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer components {
  .text-h1 {
    font-size: var(--text-h1);
    font-weight: bold;
    line-height: 57px;
  }

  .text-h2 {
    font-size: var(--text-h2);
    font-weight: bold;
    line-height: 48px;
  }

  .text-h3 {
    font-size: var(--text-h3);
    font-weight: bold;
    line-height: 38px;
  }

  .text-h4 {
    font-size: var(--text-h4);
    font-weight: bold;
    line-height: 29px;
  }

  .text-h5 {
    font-size: var(--text-h5);
    font-weight: bold;
    line-height: 24px;
  }

  .text-h6 {
    font-size: var(--text-h6);
    font-weight: 500;
    line-height: 23px;
  }

  .text-large {
    font-size: var(--text-large);
    font-weight: 500;
    line-height: 22px;
  }

  .text-body {
    font-size: var(--text-body);
    line-height: 20px;
  }

  .text-caption {
    font-size: var(--text-caption);
    line-height: 14px;
  }

  .text-small {
    font-size: var(--text-small);
    line-height: 12px;
  }

  @media (min-width: 250px) {
    .text-h1 {
      font-size: calc(var(--text-h1) * 0.85) !important;
    }
    .text-h2 {
      font-size: calc(var(--text-h2) * 0.85) !important;
    }
    .text-h3 {
      font-size: calc(var(--text-h3) * 0.85) !important;
    }
    .text-h4 {
      font-size: calc(var(--text-h4) * 0.85) !important;
    }
    .text-h5 {
      font-size: calc(var(--text-h5) * 0.95) !important;
    }
    .text-h6 {
      font-size: calc(var(--text-h6) * 0.95) !important;
    }
  }

  @media (min-width: 640px) {
    .text-h1 {
      font-size: calc(var(--text-h1) * 0.9) !important;
    }
    .text-h2 {
      font-size: calc(var(--text-h2) * 0.9) !important;
    }
    .text-h3 {
      font-size: calc(var(--text-h3) * 0.9) !important;
    }
    .text-h4 {
      font-size: calc(var(--text-h4) * 0.9) !important;
    }
    .text-h5 {
      font-size: calc(var(--text-h5) * 0.95) !important;
    }
    .text-h6 {
      font-size: calc(var(--text-h6) * 0.95) !important;
    }
  }

  @media (min-width: 768px) {
    .text-h1 {
      font-size: calc(var(--text-h1) * 0.95) !important;
    }
    .text-h2 {
      font-size: calc(var(--text-h2) * 0.95) !important;
    }
    .text-h3 {
      font-size: calc(var(--text-h3) * 0.95) !important;
    }
    .text-h4 {
      font-size: calc(var(--text-h4) * 0.95) !important;
    }
    .text-h5 {
      font-size: calc(var(--text-h5) * 0.95) !important;
    }
    .text-h6 {
      font-size: calc(var(--text-h6) * 0.95) !important;
    }
  }

  @media (min-width: 1024px) {
    .text-h1 {
      font-size: calc(var(--text-h1) * 1) !important;
    }
    .text-h2 {
      font-size: calc(var(--text-h2) * 1) !important;
    }
    .text-h3 {
      font-size: calc(var(--text-h3) * 1) !important;
    }
    .text-h4 {
      font-size: calc(var(--text-h4) * 1) !important;
    }
    .text-h5 {
      font-size: calc(var(--text-h5) * 1) !important;
    }
    .text-h6 {
      font-size: calc(var(--text-h6) * 1) !important;
    }
  }

  @media (min-width: 1280px) {
    .text-h1 {
      font-size: calc(var(--text-h1) * 1.1) !important;
    }
    .text-h2 {
      font-size: calc(var(--text-h2) * 1.1) !important;
    }
    .text-h3 {
      font-size: calc(var(--text-h3) * 1.1) !important;
    }
    .text-h4 {
      font-size: calc(var(--text-h4) * 1.1) !important;
    }
    .text-h5 {
      font-size: calc(var(--text-h5) * 1.1) !important;
    }
    .text-h6 {
      font-size: calc(var(--text-h6) * 1.1) !important;
    }
    .text-large {
      font-size: calc(var(--text-large) * 1.1) !important;
    }
  }

  @media (min-width: 1536px) {
    .text-h1 {
      font-size: calc(var(--text-h1) * 1.2) !important;
    }
    .text-h2 {
      font-size: calc(var(--text-h2) * 1.2) !important;
    }
    .text-h3 {
      font-size: calc(var(--text-h3) * 1.2) !important;
    }
    .text-h4 {
      font-size: calc(var(--text-h4) * 1.2) !important;
    }
    .text-h5 {
      font-size: calc(var(--text-h5) * 1.2) !important;
    }
    .text-h6 {
      font-size: calc(var(--text-h6) * 1.2) !important;
    }
    .text-large {
      font-size: calc(var(--text-large) * 1.2) !important;
    }
  }
}
